/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, sans-serif; /* Fonte mais moderna e limpa */
    background-color: #f4f4f4; /* Fundo claro para destacar o conteúdo */
    padding: 20px;
    color: #333; /* Cor do texto em um tom escuro */
}

header {
    background-color: #6a1b9a; /* Roxo Escuro */
    color: white;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

section.form-container {
    margin: 20px auto;
    max-width: 600px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section.form-container:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #6a1b9a; /* Roxo Escuro */
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #333; /* Cor do texto escuro */
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
}

input:focus, select:focus {
    border-color: #6a1b9a; /* Destaque em roxo escuro */
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #d35400; /* Laranja */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #b43d00; /* Laranja mais escuro */
    transform: translateY(-3px);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}
